<nav>
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-center">
            <div class="left-nav">
                <a class="link" href="/user">Account</a>
                <a class="link" href="profile/start">New Farm</a>
            </div>
            <a href="/">
                <div class="branding mx-3"></div>
            </a>
            <div class="right-nav">
                <a class="link" href="/weather">Forecast</a>
                <a class="link" href="/help_center">Help Center</a>
            </div>
        </div>
    </div>
</nav>
